/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2018, 13:23:54
    Author     : willy
*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

#divform{
    width: 900px;
    margin: auto;
    background-color: #CC99FF;
    min-height: 300px;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

#formu{
    width: 350px;
    margin: auto;
}

#fieldlogin input{
    float:right;
}

#usuarioincorrecto{
    width: 150px;
    margin: auto;
}

#form_aulas, #form_items, #form_roles{
    width: 900px;
    margin: auto;
    background-color: #CC33FF;
    border-radius: 10px;
}

fieldset{
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    border-color: white;
}

#additem{
    margin: auto;
    float: right;
}

#formanadir input{
    float: right;
}

#formselect{
    width: 900px;
    margin: auto;
    text-align: center;
    background-color: #CC33FF;
    border-radius: 10px;
}

#formselect input{
    width: 200px;
}

#formlogin{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    background-image: url(../img/bgs.png);
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-position-x: 100px;
    text-align: center;

}

#divitem{
    width: 350px;
    height: 350px;
    margin: auto;
    background-color: #CC99FF;
    min-height: 300px;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

#field_adduser{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field_adduser select, #field_adduser input{
    width: 140px;
}